@{
    var hideNav = ViewData["showNav"] as bool? ?? true;
    var themeCookie = Context.Request.Cookies["ThemePreference"];
    var theme = themeCookie != null && !string.IsNullOrEmpty(themeCookie) ? themeCookie : "default";
    var rtl = System.Globalization.CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft;
}
<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name" class="no-js@(hideNav ? " no-navigation" : "")">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="favicon.ico">
    <link rel="icon" media="all" type="image/x-icon" href="favicon.ico"><!-- ico not png -->
    <meta content="width=device-width, initial-scale=1" , name="viewport">
    <title>@ViewData["Title"] - Portal</title>
    <bundle name="wwwroot/bundles/site.min.css" />
    <bundle name="wwwroot/bundles/site.min.js" />
    <script src="~/scripts/bootstrap-3.4.1.min.js"></script>

</head>
<body id="s-@(ViewData["PageId"])Page" class="@(ViewData["BodyClass"]) fixed sidebar-mini hold-transition skin-@theme@(hideNav ? " no-navigation" : " has-layout-event")@(rtl ? " rtl" : "")">
    <script type="text/javascript">
        /* Recover sidebar state */
        (function () {
            if (Boolean(localStorage.getItem('sidebar-toggle-collapsed'))) {
                var body = document.getElementsByTagName('body')[0];
                body.className = body.className + ' sidebar-collapse';
            }
        })();
    </script>
    <div class="wrapper">
        <partial name="_CustomHeader" />
        <partial name="_CustomSidebar" />

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                </h1>
            </section>

            <section class="content">
                @RenderBody()
            </section>
            <div class="modal" tabindex="-1" role="dialog" id="form-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center rowcolor">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close">&times;</button>
                            <h5 class="modal-title"></h5>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="loaderbody" id="loaderbody">
                <div class="loader"></div>
            </div>
            <footer style="text-align: center;" class="footer">
                <p> &copy; @DateTime.Now.Year Company, Inc. All rights reserved.</p>
            </footer>
            <aside class="control-sidebar control-sidebar-color">
                <div class="tab-content">
                    <div class="tab-pane active" id="control-sidebar-settings-tab">
                        <form method="post">
                            <h3 class="control-sidebar-heading">General Settings</h3>

                            <div class="form-group" style="margin-top: 15px;">
                                <label class="control-sidebar-subheading">Theme</label>
                                <select id="ThemeSelect" class="form-control">
                                    <option value="">Select</option>
                                    <option value="blue">Blue</option>
                                    <option value="default">Default</option>
                                    <option value="green">Green</option>
                                    <option value="pink">Pink</option>
                                    <option value="purple">Purple</option>
                                    <option value="red">Red</option>
                                    <option value="yellow">Yellow</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>

            <div class="control-sidebar-bg"></div>
        </div>
    </div>
    @RenderSection("Scripts", false)

@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="~/scripts/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            $("#loaderbody").addClass('hide');

            $(document).bind('ajaxStart', function () {
                $("#loaderbody").removeClass('hide');
            }).bind('ajaxStop', function () {
                $("#loaderbody").addClass('hide');
            });
        });

        $('#ThemeSelect').on('change', function () {
            $.cookie('ThemePreference', $("#ThemeSelect :selected").attr('value'), {
                path: "/",
                expires: 365
            });

            $('body').addClass('skin-' + $("#ThemeSelect :selected").attr('value'));
            console.log($("#ThemeSelect :selected").attr('value'));

        @RenderSection("PageInitScript", false)

                        var doLayout = function () {
                height = (this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height;
                height -= $('header.main-header').outerHeight() || 0;
                height -= $('section.content-header').outerHeight() || 0;
                height -= $('footer.main-footer').outerHeight() || 0;
                if (height < 200) height = 200;
                $("section.content").css("min-height", (height) + "px");

                $('body').triggerHandler('layout');
                $('aside').triggerHandler('layout');
            };

            $(window).bind("load resize layout", doLayout);
            doLayout();
            location.reload();
        });

    </script>
    <script type="text/javascript">
        (function ($) {
            /* Store sidebar state */
            $('.sidebar-toggle').click(function (event) {
                event.preventDefault();
                if (Boolean(localStorage.getItem('sidebar-toggle-collapsed'))) {
                    localStorage.setItem('sidebar-toggle-collapsed', '');
                } else {
                    localStorage.setItem('sidebar-toggle-collapsed', '1');
                }
            });
        })(jQuery);
    </script>
</body>
</html>
