@page "{label?}/{callback?}"
@model Portal.Pages.Identity.Admin.SelectUserModel
@{  
    ViewBag.Workflow = Model.Callback ?? Model.Label ?? "List";
    ViewData["Title"] = ViewBag.Workflow;
}
<link rel="stylesheet" href="~/css/DataTables/css/jquery.dataTables.min.css" >
<script type="text/javascript" src="~/scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            order: [[0, 'asc']],
        });
    });
</script>

<div class="box box-widget">
    <div class="box-header with-border text-center bg-black text-white">
        <h3>@ViewBag.Workflow</h3>
    </div>
    <div class="box-body">
        <div class="row form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-sm table-striped table-bordered" id="datatable">
                    <thead>
                        <tr>
                            <th>User</th>
                            @if (!string.IsNullOrEmpty(Model.Callback))
                            {
                                <th />
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Users.Count() == 0)
                        {
                            <tr><td colspan="2">No matches</td></tr>
                        }
                        else
                        {
                            @foreach (IdentityUser user in Model.Users)
                            {
                                <tr>
                                    <td>@user.Email</td>
                                    @if (!string.IsNullOrEmpty(Model.Callback))
                                    {
                                        <td class="text-center">
                                            <a asp-page="@Model.Callback"
                                   asp-route-id="@user.Id"
                                               class="btn btn-sm btn-secondary">
                                                @Model.Callback
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="box-footer text-center">
        <div asp-validation-summary="All" class="text-danger m-2"></div>
    </div>
</div>